#sipgateffx-toolbar-button
{
  list-style-image: url("chrome://sipgateffx/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#sipgateffx-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #sipgateffx-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #sipgateffx-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

#sipgatenotificationPanel
{
	-moz-binding: url("chrome://sipgateffx/content/binding-popup.xml#default");
	border: 1px solid #000;
}